<%= form_for(@guest, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @guest.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@guest.errors.count, "error") %> prohibited this guest from being saved:</h4>

      <ul>
      <% @guest.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :first_name, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :first_name, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :last_name, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :last_name, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :email, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :email, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :has_plus_one, class: "col-sm-2 control-label" %>
    <%= f.check_box :has_plus_one, class: 'checkbox' %>
  </div>
  <div class="form-group">
    <div class="col-sm-2 contorl-label"><strong>Groups</strong></div>
    <% Group.all.each do |grp| %>
    <label class="checkbox-inline">
      <%= check_box_tag "guest[group_ids][]", grp.id, f.object.groups.include?(grp), class: "form-control" %>
      <%= grp.name %>
    </label>
    <% end %>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
